@model IEnumerable<CreatePartialViewWithModel.Models.User>

@{
    ViewData["HeaderType"] = "users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <h2 class="font-weight-bold mb-2">Our Users</h2>
    <p class="font-italic text-muted mb-4">These are our very important users.</p>
    @Html.Partial("UserPartial", Model)

</div>

